body{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family:'Montserrat', sans-serif, cursive;
  font-weight: 900;
  background-color:#E4F9F5;
}

.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top:100px;
}

.pro{
  text-decoration: underline;
}

.alter{
  padding-left: 50%;
  
}

.mySkill{
  font-size: 2.5rem;
  color: #F67280;
}
/* images */
.img
{
  padding-top: 5%;
}
.c-img{
  width: 9%;
}
.j-img
{
  width: 8%;
}
.ht-img
{
  width: 12%;
}
.css-img
{
  width: 9%;
}
.auto-img
{
  width: 9.2%;
}
.ps-img
{
  width: 9.7%;
}

.skill-section
{
  width: 70%;
  display: inline-block;
  justify-content: center;
}

.star-2, .star-1
{
  padding: 3%;
}

.skill-row
{
  margin-top: 5%;
  border-radius: 8%;
  background-color: #DCECC1;
}

.content
{
  padding-left: 5%;
  padding-right: 5%;
}

.head{
  width: 30%;
  margin: 50px auto 0px auto;
  font-family:'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}

.Hello{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #F67280;
  margin-top: 4%;
  margin-bottom: 4%;
  font-weight:bolder;
  
}

.Did{
  display: block;
  font-style: initial ;
  font-weight: bolder;
}
.class{
  width: 100%;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}

.profile-photo{
  margin-top: 5%;
  border-radius: 200px;
  width: 20%;
  height: 15%;
}
.intro{
  display: block;
  padding: 2% 7% 7%;
  text-align: justify;
}

.footer{
  background-color: #66BFBF;
  height: 8em;

}

.footer-button{
  position: relative;
  top: 50px;
}
.branding{
  position: relative;
  top: 20px;
  color: black;
}
.footer{
  border-top-right-radius: 100px;
  border-top-left-radius:100px ;
  background-color: #DCEDC1;
}
.footer-link1{
  position: relative;
  right: 40px;
  color: #F67280;
}

.footer-link3{
  position: relative;
  left: 40px;
  color: #F67280;
}
.footer-link2{
  color: #F67280;
}

hr{
  border: dotted #ADA2FF 10px;
  border-bottom: none;
  width: 4%;
}

.hr1
{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 6%;
}

.hr2
{
  margin-top: 5%;
  margin-bottom: 6%;
}

.cont{
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
.middle-container{
  background-color: #DCEDC1;
  width:80% ;
  height:50% ;
  border-radius: 100px;
}

.contact-me{
  background-color: #DCEDC1;
  width:80% ;
  height:50% ;
  border-radius: 100px;
  margin-bottom: 8%;
}





.contact-1{
  margin-top: 30px;
  display: inline-block;
}

.contact-2{
  
  text-align: justify;
  width: 80%;
}


.para-last
{
  display: flex;
  justify-content: center;
  margin: 2% 5%;
}

.btn {
  background: #FD8A8A;
  margin-bottom: 5%;
  background-image: -webkit-linear-gradient(top, #FD8A8A, #F67280);
  background-image: -moz-linear-gradient(top, #FD8A8A, #F67280);
  background-image: -ms-linear-gradient(top, #FD8A8A, #F67280);
  background-image: -o-linear-gradient(top, #FD8A8A, #F67280);
  background-image: linear-gradient(to bottom, #FD8A8A, #F67280);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 20px;
  font-family:  Montserrat ;
  color:#F67280;;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #ADA2FF, #ADA2FF);
  background-image: -moz-linear-gradient(top, #ADA2FF, #ADA2FF);
  background-image: -ms-linear-gradient(top, #ADA2FF, #ADA2FF);
  background-image: -o-linear-gradient(top, #ADA2FF, #ADA2FF);
  background-image: linear-gradient(to bottom, #ADA2FF,#ADA2FF);
  text-decoration: none;
}

.mailTo
{
  text-decoration: none;
  color: black;
}